
/*posicionamento do bloco de links*/
div#menu{

	width: 800px;
	height: 35px;
	margin-left: 100px;
	margin-top: 35px;
	margin: auto;
}

div#menu ul { 
	width: 800px;
	height: 35px;
	border: 2px solid black;
	background-color:#D3D3D3;
	opacity:0.80;
	margin-top: 40px;
}
div#menu ul li{
	display: inline;
}
/*edição do texto-link*/
div#menu ul li a{
	text-decoration: none;
	letter-spacing: 5px;
	font-family: tahoma;
	font-size: 14px;
	padding: 20px 30px;
	color:black;
	font-weight: 50;
}
/*efeito quando passa a seta no link*/
div#menu ul li a:hover{
	background-color: #800000;
	width: 600px;
	height: 35px;
	padding: 14px 40px;

}
/*edição da logo*/
div.logoo img.logo{

	margin-top: 25px; 
	margin-left: 350px;
	border-radius: 100%;
	
}
div.logoo{
	background-color: #D3D3D3;
	opacity: 0.80;
}

body{
	line-height: 35px;
	margin: auto;
	width: 1030px;
	background-attachment: fixed;
}
/*edição dos parágrafos*/
.parag{
	font-size:23px;
	font-family: tahoma;
}
table{
	
	margin-top: 40px;
}
.img:hover{

opacity: 0.75;

}
.promocoes{
	background-color: #D3D3D3;
	opacity: 0.80;
}

#whomade {
	color: white;
}