

div#menu{

	width: 800px;
	height: 25px;
	margin-left: 300px;
	margin-top: 70px;
}

div#menu ul { 
	width: 800px;
	height: 25px;
	border: 4px solid black;
	;


}
div#menu ul li{
	display: inline;
}
div#menu ul li a{
	text-decoration: none;
	letter-spacing: 5px;
	font-family: tahoma;
	font-size: 13px;
	padding: 14px 30px;
	color:black;
	font-weight: 50;
}
div#menu ul li a:hover{
	background-color: #800000;
	width: 600px;
	height: 25px;
	padding: 14px 14px 20px 20px;
}

div.logoo img.logo{

	margin-top: 20px; 
	margin-left: 550px;
	border:2px black solid;
}
body{
	line-height: 25px;
}